* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.imga {

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1, h2, .button, p, .artigos {
  padding-inline: 2.2rem;
}

header nav {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  /* display: flex;
  padding: 2.8rem 1.6rem;
  gap: 2.5rem; */
  background-color: #065E7C;
}

.input-wrapper input {
    width:24.8rem;
    padding: 1.2rem 0px 1.2rem 1.4rem;
    border-radius: .4rem;
    border: 0;
    background-color: #3e8aa4;
}

.input-wrapper input::placeholder {
  color: white;
}

input::placeholder {
  opacity: 100%;
  color: white;
}

h1 {
  font-size: 2.4rem;
  margin-block: 3.1rem .8rem;
}

h2 {
  margin-block: 3.4rem 3.2rem;
}

h3 {
  margin-bottom: 1.3rem;
}

main p:first-child(1) {
  font-size: 1.6rem;
  color: #121214;
  padding-inline: 2.2rem;
}

.h2p p {
  padding-inline: 0;
}



.button {
  margin-bottom: 3.1rem;
}

.artigos {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

footer {
  width: 100%;
  display: flex;
  place-content: center;
  background-color: #065E7C;
  padding: 2.6rem 1.6rem;
  color: white;
}

@media (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: row;
    display: grid;
    gap: 3.4rem;
    grid-template-columns: 2fr 1.2fr;
    padding-inline: 10.9rem;
    padding-block:4.4rem 3.9rem ;
  }
  h2 {
    margin-top: 0;
  }
  header nav {
    padding-inline: 11.2rem;
  }
  .input-wrapper input {
    width: 108.3rem;
  }
}


